@font-face {
    font-family: 'BitgoeulGwangju_Light';
    src: url('BitgoeulGwangju_Light.woff2') format('woff2'),
        url('BitgoeulGwangju_Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BitgoeulGwangju_Bold';
    src: url('BitgoeulGwangju_Bold.woff2') format('woff2'),
        url('BitgoeulGwangju_Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BitgoeulGwangju_Medium';
    src: url('BitgoeulGwangju_Medium.woff2') format('woff2'),
        url('BitgoeulGwangju_Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

